// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Merriweather Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
/*edited*/ $gray-600: #EBEBEB !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  /*edited*/ "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
/*edited*/ $purple:  #4A0083 !default;
$pink:    #d63384 !default;
/*edited*/  $red:     #AC0F0C !default;
 /*edited*/ $orange:  #CB4F08 !default;
/*edited*/  $yellow:  #FFB900 !default;
$green:   #20A80A !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$mygray: gray;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800,
  "mygray":  $mygray
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
/*edited*/ $primary:       $orange !default;
/*edited*/ $secondary:     $purple !default;
$success:       $green !default;
/*edited*/ $info:          $red !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
$mygray:  $mygray;
$gray:  $gray-700;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "mygray":   $mygray,
  "gray":$gray
) !default;
// scss-docs-end theme-colors-map
